html, body, header, div, footer{
    margin:0;
    border:0;
    padding:0;
    box-sizing: border-box;
}
header{
    height: 150px;
    background-color: rgb(255, 217, 0);
    border: 7px solid blue;
}
.one{
    border:10px solid green;
    height:220px;
    background-color: black;
}
#nav, #main{
    display:inline-block;
    height: 200px;
    border:5px solid black;
}
#nav{
    width:250px;
    background-color: skyblue;
}
#main{
    width: 1006px;
    background-color:lightgreen;
}
footer{
    height: 150px;
    border:7px solid red;
    background-color: purple;
}