*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family:'Montserrat', sans-serif;
}
a{
    text-decoration: none;
    color:white;
}
.container{
    min-height: 100vh;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
/* head Section */
#header{
    background-image: url(./portfolio-background.jpg);
    background-size: cover;
    background-position: top;
    position:relative;
}
#header h1{
    display:block;
    width:fit-content;
    font-size: 4rem;
    position:relative;
    color:white;
}
#header .hero{
    max-width:1200px;
    margin:0 auto;
    padding:0 50px;
    justify-content: flex-start;

}
.btn{
    padding:10px 30px;
    background-color: transparent;
    border:2px solid crimson;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top:30px;
    transition:all;
    transition-duration:0.8s;
    transition-timing-function: ease;
}
button:hover{
    background-color: crimson;
}
/* Service section */
#services .serv{
 flex-direction: column;
 text-align: center;
 max-width: 1500px;
 margin:0 auto;
 padding:100px 0;
}
#services .serv-title{
    font-size: 7rem;
    font-weight: 300;
    color:crimson;
    margin-bottom: 10px;
    letter-spacing: 0.2rem;
    text-align: center;
    font-family:'Dancing Script', cursive;;

}
#services .top p{
     font-size: 1.4rem;
     margin-top:5px;
     font-weight: 300;
     line-height: 2.5rem;
     letter-spacing: .05rem;
     margin-bottom: 50px;
}
#services .bottom{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;

}
#services .serv-item{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    padding:30px;
    background-image: url(./portfolio-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius:10px;
    margin:10px 5%;
    color:white;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2.5rem;
    letter-spacing: .05rem;

}
#services .serv-item h2{
    color:rgb(235, 174, 186);
    font-size: 2rem;
    margin-bottom: 10px;
    text-transform: uppercase;
}
/* Service Section End */
footer{
    font-size: 1rem;
    background-color:black;
    height:auto;
    padding-top:40px;
    color:#fff;
    font-weight: 100;

}
.footer-content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer-content h3{
    line-height: 3rem;
}
.footer-content p{
    max-width: 900px;
    margin:10px auto;

}
.icons{
    list-style: none;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}
.icons li{
    margin:0 10px;
    height: 20px;
}

.footer-bottom{
    width:100%;
    text-align: center;
    font-size: 0.9rem;

}
.footer-bottom p{
    word-spacing: 2px;
    text-transform: capitalize;

}
.footer-bottom span{
    opacity:0.4;
    font-weight: 200;
}

